body { 
  user-select: none; 
}

#container {
  position: fixed;
  top: 10%;
  right:30px;
}
#inner {
  background:rgba(95, 95, 95, 0.7);
  border-radius: 5px;
  color: #fff;
  font-size:14px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px #000;
  max-width:325px;
}
.header {
  margin-top:0;
  text-align:center;
  background:orangered;
  padding:10px;
  font-weight:bold;
}
.subheader {
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  background:rgba(0,0,0,0.5);
  padding:5px 10px;
}
.form-group {
  padding:5px;
  margin:5px;
  text-align:center;
}
.coord {
  padding:2px;
}
.coord span {
  font-size:20px;
  font-weight:bold;
  width:50px;
  display:block;
  float:left;
  text-align:center;
  position:relative;
  top:10px;
}
button {
  flex: 1 1 auto;
  padding:5px;
  outline: none;
  text-transform:uppercase;
  background:#2b8b8b;
  color:#fff;
  font-weight:bold;
  position: relative;
  border:1px solid rgba(0,0,0,0.5);
}
button:active {
  top:1px;
}
button:hover {
  cursor: pointer;
  background:#21A0A0;
}
input {
  padding:3px;
  border:1px solid rgba(0,0,0,0.5);
  font-weight:bold;
}
input[type=range] {
  position:relative;
  top:7px;  
}
input[type=number] {
    width: 60px;
} 
.select {
    padding: 4px;
}
